* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Questrial";
  font-size: 16px;
}

header .fa {
  font-size: 4em;
  color: white;
  margin-top: 2.6em;
}

h1 {
  text-align: center;
  color: white;
  font-size: 3.5em;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  padding: 1em;
}

nav a:hover {
  border-radius: 5px;
  background-color: white;
  color: #2056ac;
}

nav {
  margin-top: 8.4em;
}

nav ul li {
  display: inline-block;
  margin-left: 0.6em;
  margin-right: 0.6em;
}

header {
  background-color: #2056ac;
  height: 28em;
  text-align: center;
}

.image {
  text-align: center;
  margin-top: 5em;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

.welcome {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 6.2em;
  border-bottom: 1px solid #e7e7e7;
}

.welcome h2 {
  font-size: 3.2em;
  font-weight: bold;
  color: #404040;
}

.welcome p a {
  text-decoration: none;
  color: grey;
}

.welcome p {
  color: #aaa;
  margin-top: 3.7em;
  margin-bottom: 6.2em;
}

.article1 {
  padding-top: 7em;
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 7em;
}


.article1 article {
  display: inline-block;
  max-width: 33%;
  text-align: center;
}


.article1 p {
  padding-bottom: 3em;
  color: #aaa;
}

.article1 article h3 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 2em;
  color: #404040;
}

.article1 article a {
  text-decoration: none;
  color: white;
  border: 1px solid #64abd1;
  background-color: #64abd1;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.article2 {
  padding-top: 7em;
  max-width: 1200px;
  margin: auto;
}

.article2 p {
  padding-bottom: 3em;
  color: #aaa;
}

.article2 article a {
  text-decoration: none;
  color: white;
  border: 1px solid #64abd1;
  background-color: #64abd1;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.article2 article {
  display: inline-block;
  max-width: 24%;
  text-align: center;
}

.article2 article h4 {
  font-weight: bold;
  color: #404040;
  margin-bottom: 2em;
}

.backcontact {
  margin: auto;
  background-color: #e3f0f7;
  margin-top: 5em;
}

.totcontact {
  margin: auto;
  height: 18em;
  max-width: 1200px;
}

.divcont {
  width: 33%;
  display: inline-block;
  text-align: center;
}

.divcont p {
  color: #5b6063;
}

.divcont i {
  font-size: 3em;
  color: #5b6063;
  margin-top: 2em;
  margin-bottom: 1em;
}

.miniback {
  height: 1em;
  background-color: #3162b1;
}

.footer {
  height: 18em;
  background-color: #2056ac;
  margin: auto;
  text-align: center;
  font-size: 16px;
}

.footer p {
  color:#e7e7e7;
  padding-top: 4.5em;
}

.footer a {
  text-decoration: none;
  color: white;
}


.footer i {
  color: white;
  font-size: 2em;
  margin: 0.5em;
  border: 1px solid #4c93b9;
  background-color: #4c93b9;
  height: 1.5em;
  width: 1.5em;
  padding-top: 0.23em;
  margin-top: 2em;
}

@media (max-width: 700px) {
  .article1 article {
    display: inline;
  }

  .article1 article h3 {
    margin-top: 1em;
  }

  .article2 article {
    display: inline;
  }

  .article2 article h4 {
    margin-top: 1em;
  }

  .divcont {
    display: inline;
  }


}
